*{
    margin:0px;
    padding:0px;
}
body{
    text-align: center;
    background-color: black;
}
h1{
    color:blue;
    font-family: sans-serif;
    font-size: 30px;
}
.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap:30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}
button{
    cursor: pointer;
    height: 20vh;
    width: 40%;
    border-radius: 40px;
    font-size: 20px;
    font-weight: bolder;
    color: blue;

}